
doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='csrf-token' content=csrfToken)
    title #{title}
    link(href='//developer.ringcentral.com/assets/images/favicon.ico?v=20181214-0738', type='image/vnd.microsoft.icon', rel='shortcut icon')
  body
    #viewport
      div(style="text-align: center;font-size: 20px; padding-top: 30px;") Loading
    script.
      window.clientConfig = !{JSON.stringify(data)}
    script(type="text/javascript" src=`${assetsPath}/app.js`)

